$purpleNormal: #6a11cb;
$blueNormal: #1400ff;
$greyNormal: #eeeeee;
$greyDarker: #7d7d7d;
$transparentFully: rgba(0, 0, 0, 0);
$greenCheck: #5eba7d;
$errorRed: #ED4337;

$primaryGradientBackground: linear-gradient(
      91.79deg,
      $purpleNormal 23.27%,
      $transparentFully 88.27%,
   ),
   $blueNormal;
$primaryGradientColor: white;
