@import "./components/buttons.scss";
@import "./components/cards.scss";
@import "./components/footers.scss";
@import "./components/inputs.scss";
@import "./components/navbars.scss";

@import "./templates/SignPages.scss";

@import "./pages/Home.scss";
@import "./pages/Register.scss";

* {
   box-sizing: border-box;
   font-family: Rubik;
   font-style: normal;
   font-size: 18px;
   // line-height: 21px;
   letter-spacing: -0.05em;
}

h1, h2 {
   font-family: Lora;
   letter-spacing: normal;
   line-height: initial;
}

body,
html,
#root {
   margin: 0px;
   height: 100%;
   width: 100%;
}
