$purple-300: hsl(269, 85%, 43%);

$blue-300: hsl(245, 100%, 50%);

$grey-100: hsl(0, 0%, 93%);
$grey-300: hsl(0, 0%, 49%);

$green-100: hsl(140, 40%, 55%);

$red-200: hsl(4, 83%, 57%);

$black-transparent: rgba(0, 0, 0, 0);

$primary-gradient-background: linear-gradient(
      91.79deg,
      $purple-300 23.27%,
      $black-transparent 88.27%
   ),
   $blue-300;

