#register-page {
   main {
      padding-top: 54px;
   }
   .text-field {
      margin-bottom: 26px;
   }
   h1 {
      font-size: 39px;
      margin-bottom: 31px;
   }
   .card {
      margin-bottom: 40px;
   }
}