.btn {
   border-radius: 50px;
   font-weight: 500;
   border: none;
   padding-left: 25px;
   padding-right: 25px;
   outline: none;
   height: 50px;

   & span {
      font-weight: 500;
   }

   &.primary {
      width: 200px;
      background: $primary-gradient-background;
      background-repeat: no-repeat;
      color: white;
      transition: all 0.25s ease;
      &:hover, &:active {
         background-position: -100px;
      }
   }

   &.transparent {
      width: initial;
      background-color: $black-transparent;
      color: black;
      border: solid 2px $black-transparent;
      transition: border-color 0.2s ease;
      &:hover, &:focus{
         border-color: black;
      }
   }
}

.icon-btn {
   cursor: pointer;
}