@import "../colours.scss";

.text-field {
   .label {
      font-weight: 500;
      margin-bottom: 7px;
   }

   &.fullwidth {
      width: 100%;
   }

   & .error-message {
      color: $errorRed;
   }

   .input-wrapper {
      border-radius: 50px;
      padding-left: 25px;
      padding-right: 25px;
      width: 100%;
      border: solid 2px rgba(0,0,0,0);
      transition: border-color 0.15s;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      &.grey {
         background-color: $greyNormal;
      }

      &.fullwidth {
         height: 50px;
      }
      &:focus-within {
         border-color: rgba(0, 0, 0, 1);
      }

      & .password-visibility-toggler {
         cursor: pointer;
      }

      & .checked {
         color: $greenCheck;
      }

      &.error {
         border-color: $errorRed;
      }

      input {
         border: none;
         width: 100%;
         height: 100%;
         background-color: $transparentFully;
         outline: none;

         &::placeholder {
            color: rgba(0,0,0,0.3)
         }
      }
   }
}
