@import "../colours.scss";

.navbar {
   padding: 0px 24px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-height: 65px;

   .nav-link-list .nav-link {
      position: relative;
      color: black;
      //{underlining
      &::after {
         content: "";
         position: absolute;
         bottom: 0;
         left: 0;
         width: 100%;
         height: 0.1em;
         background-color: $blueNormal;
         opacity: 0;
         transition: opacity 300ms, transform 300ms;
      }

      &:hover::after,
      &:focus::after {
         opacity: 1;
         transform: translate3d(0, 0.2em, 0);
      }
      /* Scale from center */
      &::after {
         opacity: 1;
         transform: scale(0);
         transform-origin: center;
      }

      &:hover::after,
      &:focus::after {
         transform: scale(1);
      }
      //underlining}
   }
}

.nav-link-list {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-items: center;
   margin: 0 -10px;
   & > .nav-list-item {
      padding: 0 10px;
      font-weight: 500;
   }
}
